
<% validation_error.forEach(element => { %>
    <% let eetext = element.msg; %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= __(eetext) %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>  
<% }) %> 


<% success_message.forEach(element => { %>
     <% let etext = element.msg; %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= __(etext) %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>  
<% }) %> 

<% login_error.forEach(error => { %>
    <% let eerror = error; %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= __(eerror) %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>  
<% }) %> 


